body {
    font-size: small;
}

#threecolwrap {
    background-color: #eee;
    padding: 20px;
    border: 1px solid #999999;
    overflow: hidden;
}

#twocolwrap {
    width: 100%;
    margin-right: -122px;
    float: left;
}

#right {
    float: right;
    width: 120px;
    background-color: white;
    border: 1px solid #999999;
}

#left {
    width: 200px;
    border: 1px solid #999999;
    background-color: white;
    float: left;
}

#middle {
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid #999999;
    background-color: white;
    padding: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 20px;
    border: 1px solid #999999;
    float: left;
    background-color: #eeeeee;
}

.logo table tr td {
    vertical-align: middle;
    height: 80px;
}

#teamname {
    padding: 20px 10px;
}